@model Producto

<div class="container">
    <h1>@Model.Nombre</h1>
    <p>@Model.Descripcion</p>
    <p><strong>Precio:</strong> ₡@Model.Precio</p>
    <p><strong>Stock disponible:</strong> @Model.Stock</p>
    <div>
        <a href="@Url.Action("AgregarAlCarrito", "Carrito", new { idProducto = Model.ProductoID })" class="btn green">Agregar al Carrito</a>
        <a href="@Url.Action("Index", "Productos")" class="btn blue">Seguir comprando</a>
    </div>
</div>
